body {
  display: table;
  overflow: hidden;
}

.data {
  margin-top: 15px;
  padding-right: 10px;
  opacity: 0;
}

.hidden-content {
  z-index: 4;
  width: 0px;
  height: 0px;
  position: absolute;
}



h1 {
  font-family: 'Trebuchet MS', sans-serif;
}

#title {
  text-align: left;
  margin-top: 15px;
  color: white;
  opacity: 0;
  font-weight: bold;
  margin-left: 15px;
}

.parameter {
  min-width: 130px;
  max-width: 130px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 17px;
  color: white;
}

.value {
  max-width: 400px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: white;
  padding-left: 0px;
  margin-right: 10px;
}


.content {
  margin-left: 15px;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.info {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: black;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  width: 50px;
  height: 50px;
  border-radius: 10%;
  border: 3px solid whitesmoke;
  text-align: center;
  color: white;
  z-index: 5;
}

.filter {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: black;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  width: 80px;
  height: 50px;
  border-radius: 10%;
  border: 3px solid whitesmoke;
  text-align: center;
  color: white;
}

.smalliIcon {
  font-size: 30px;
  color: white;
  opacity: 1;
  z-index: 6;
  margin-top: 3px;
}

.smallFicon{
  font-size: 30px;
  color: white;
  opacity: 1;
  z-index: 6;
  margin-top: 3px;

}

.smallXIcon {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 30px;
  color: white;
  opacity: 0;
  z-index: 1;
  pointer-events: none;

}

.buttonFilter {
  border-radius: 5px;
  border-color: white;
}
.xFilter:hover, .xInfo:hover {
  color:red;
}
.buttonFilter:hover {
  text-decoration: underline;
}


.myShow {
  -webkit-animation: appear 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  z-index: 6;
  pointer-events: all;
  display: block;
}

.hide {
  -webkit-animation: disappear 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  z-index: 1;
  pointer-events: none;
  display: none;
}

.info-space {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: auto;
  padding-top: 15px;
}

.filter-space {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: auto;
  padding-bottom: 15px;
}


.retract {
  /* -webkit-animation: retract 0.2s ease-in;
  -webkit-animation-fill-mode: forwards; */
  width: 50px;
  height: 50px;
}

.retractFilter {
  /* -webkit-animation: retractFilter 0.2s ease-in;
  -webkit-animation-fill-mode: forwards; */
  width: 80px;
  height: 50px;
}

.expand {
  -webkit-animation: expand 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes expand {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }
}

.transparent{
  visibility: hidden;
}

/* @-webkit-keyframes retract {
  0% {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }

  100% {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes retractFilter {
  0% {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }

  100% {
    width: 80px;
    height: 50px;
  }
} */

h3,
label, h4, h5{
  color: white;
}


.treeJs-container {
  z-index: -1;
  position: absolute
}

hr.hr1 {
  color: white;
  border: solid 2px white;
  opacity: 1;
  position: relative;
  margin-top: 1rem;
}

hr.hr2 {
  color: white;
  border: solid 1px white;
  opacity: 1;
  position: relative;
  margin: 0;
  
}

.circle {
  border-radius: 50%;
  margin-right: 25px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.lightblue {
  background-color: aqua;
}

.green {
  background-color: rgb(11, 241, 30);
}

.pointer {
  cursor: pointer;
}

.noPointer {
  user-select: none;
}

.principalRow {
  width: 100%;
}

.right {
  text-align: right;
}

.h70 {
  height: 70%;
}

.cuadro-emergente {
  display: none;
  position: absolute;
  top: 10px;
  right: 80px;
  z-index: 1;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  opacity: 50%;
  padding: 10px;
  color: white;
}

.barra {
  height: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 10px;
}

.barra span {
  display: block;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
}

.legend{
  z-index: 10;
}

.principalCol{
  padding-left:20px !important;
}

.grafico{
  margin-left: -18px;
}

.legend text {

  fill: red;
}